/**
 * Classes Reutilizáveis
 * 
**/
.kd_js{ display:none }
.kd_margin{ clear:both; margin:50px 0 }
.oculto{ display:none!important }
.crimson{ color:Crimson }

.pull-left{
  float: left;
}
.pull-right{
  float: right;
}

.align-center{
	text-align: center;
}
.align-left{
	text-align: left;
}
.align-right{
	text-align: right;
}