// Import fonts
// -------------------------

// Archivo Narrow from Google Web Fonts
// @import url(http://fonts.googleapis.com/css?family=Archivo+Narrow:400,700);

@font-face {
    font-family: 'FolksLightRegular';
    src: url('../font/folks/Folks-Light-webfont.eot');
    src: url('../font/folks/Folks-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/folks/Folks-Light-webfont.woff') format('woff'),
         url('../font/folks/Folks-Light-webfont.ttf') format('truetype'),
         url('../font/folks/Folks-Light-webfont.svg#FolksLightRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'FolksRegular';
    src: url('../font/folks/Folks-Normal-webfont.eot');
    src: url('../font/folks/Folks-Normal-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/folks/Folks-Normal-webfont.woff') format('woff'),
         url('../font/folks/Folks-Normal-webfont.ttf') format('truetype'),
         url('../font/folks/Folks-Normal-webfont.svg#FolksRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'FolksBold';
    src: url('../font/folks/Folks-Bold-webfont.eot');
    src: url('../font/folks/Folks-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/folks/Folks-Bold-webfont.woff') format('woff'),
         url('../font/folks/Folks-Bold-webfont.ttf') format('truetype'),
         url('../font/folks/Folks-Bold-webfont.svg#FolksBold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'FolksHeavyRegular';
    src: url('../font/folks/Folks-Heavy-webfont.eot');
    src: url('../font/folks/Folks-Heavy-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/folks/Folks-Heavy-webfont.woff') format('woff'),
         url('../font/folks/Folks-Heavy-webfont.ttf') format('truetype'),
         url('../font/folks/Folks-Heavy-webfont.svg#FolksHeavyRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}