//
// Layouts
// --------------------------------------------------


// Container (centered, fixed-width layouts)
.container {
  .container-fixed();
  padding-left: @gridPaddingWidth;
  padding-right: @gridPaddingWidth;
}

// Container para conteúdo
.container-conteudo{
  background: white;
  padding-top: 40px;
}

// Container para conteúdo
.container-mini{
  margin-top: 40px;
  margin-bottom: 40px;
}

// Fluid layouts (left aligned, with sidebar, min- & max-width content)
.container-fluid {
  padding-right: @gridGutterWidth;
  padding-left: @gridGutterWidth;
  .clearfix();
}