//
// Logos icons
// --------------------------------------------------


// LOGOS
// -----
[class^="logo-"],
[class*=" logo-"] {
  background-image: url("@{logoBlueSpritePath}");
  background-size: 100% 100%;
  display: block;
}

.logo-default{
  width: 120px;
  height: 40px;
}
