//
// Scaffolding
// --------------------------------------------------


// Body reset
// -------------------------

body {
  /* GERAL  */ background: #ecedef no-repeat fixed center center;
  /* IE        background-image: url(../imagens/bg.svg);*/
  /* Chrome */ background-image: -webkit-radial-gradient(center, circle closest-side, #ccd3db 0%, #ecedef 100%); 
  /* FF     */ background-image:    -moz-radial-gradient(center, circle closest-side, #ccd3db 0%, #ecedef 100%);
  /* Opera  */ background-image:      -o-radial-gradient(center, circle closest-side, #ccd3db 0%, #ecedef 100%);
  /* Safari */ background-image:        -webkit-gradient(radial, center center, 0, center center, 140, color-stop(0, #ccd3db), color-stop(1, #ecedef));
  /* W3C    */ background-image:         radial-gradient(circle closest-side at center, #ccd3db 0%, #ecedef 100%);
  margin: 0;
  font-family: @baseFontFamily;
  font-size: @baseFontSize;
  line-height: @baseLineHeight;
  color: @textColor;
}


// Links
// -------------------------

a {
  color: @linkColor;
  text-decoration: none;
}
a:hover,
a:focus {
  color: @linkColorHover;
  text-decoration: underline;
}


// Images
// -------------------------

// Rounded corners
.img-rounded {
  .border-radius(6px);
}

// Add polaroid-esque trim
.img-polaroid {
  padding: 4px;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0,0,0,.2);
  .box-shadow(0 1px 3px rgba(0,0,0,.1));
}

// Perfect circle
.img-circle {
  .border-radius(500px); // crank the border-radius so it works with most reasonably sized images
}
