//
// Elementos do Kadum
// --------------------------------------------------


// Cabeçalho
#cabecalho{}
#cabecalho .visible-desktop{
	padding: 50px 0 20px;

	.nav,
	form {
		margin-bottom: 0;
	}

}

#barra-navegacao .navbar{ margin-bottom: 0 }

// Rodapé
#rodape {
  margin: 0 0 50px;

  .container,
  .container a {
    color: white;
  }
  
  .container a:hover {
    text-decoration: underline;
  }


  .container.rodape-top{
    background: #4a4744;
    border-top: 12px solid #615f5d;
    padding: 40px 20px;
  }

  .container.rodape-bottom{
    background: #3b3836;
    position: relative;
    padding: 15px 20px;

    p {
      color: #777;
      margin: 0;
    }
  }

}


//
// Página Inicial
// --------------------------------------------------
#hero-index.hero-unit {
  background: url(../img/bg_hero_textura.png);
  margin: -40px -20px 40px -20px;
  color: white;
  padding-bottom: 0;

  .page-header {
    border-bottom: none;
  }
  
  .page-header.center {
    text-align: center;
  }

  .buttons-singin-or-login{
    margin: 30px 0 0 0;
  }

  .btn{
    box-shadow: 0 0 15px #af6752;
  }

  .separate{
    display: block;
    height: 15px;
    margin: 0 -30px;
    background: url(../img/separador_setas.png) center top repeat-x;
  }
}

@media( max-width: 767px ){
  
  #hero-index.hero-unit {
    margin: -40px 0 40px;
  }

  #hero-index.hero-unit h1 { font-size: 45px }
  #hero-index.hero-unit p { font-size: 16px }

}


//
// Página de cadastro
// --------------------------------------------------
.container-mini{
  .container-mini-inner {
    max-width: 350px;
    padding: 24px 29px;
    margin: 0 auto;
    background-color: @white;
    border: 1px solid @grayLighter;
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
       -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
            box-shadow: 0 1px 2px rgba(0,0,0,.05);
  
    .logo-default{
      margin-bottom: 24px;
    }

    .icones-sociais-cadastro{
      display: block;
      height: 40px;
      margin: 10px 0 20px 0;
      
      a {
        background: url(../img/icones-sociais-cadastro.png);
        float: left;
        height: 40px;
        width: 110px;
        margin-left: 10px;
      }

      a.facebook { margin-left: 0 }
      a.twitter  { background-position: -110px 0 }
      a.google   { background-position: -220px 0 }

    }

    .separador-texto{
      border-top: 1px solid @grayLight;
      display: block;
      height: 8px;
      margin: 22px 0 10px;

      span{
        .pull-center();
        width: 180px;
        height: 20px;
        position: relative;
        top: -12px;
        background: @white;
        text-align: center;
        font-style: italic;
        font-size: 14px;
        color: @grayLight;
      }
    }

    .form-label{
      
      margin: 0 0 24px;

      .form-label-title{
        color: @gray;
        margin: 0 4px;
        font-size: 16px;
      }

      .form-label-help{
        color: @grayLight;
        margin: 0 4px;
        font-size: 80%;
      }
    }

    input[type="text"],
    input[type="password"] {
      font-size: 14px;
      height: auto;
      margin-top: 5px;
      margin-bottom: 3px;
      padding: 7px 9px;
    }
  }
}