//
// Utility classes
// --------------------------------------------------


// Quick floats
.pull-right {
  float: right;
}
.pull-left {
  float: left;
}
.pull-center {
	.center-block();
}

// Align classes
.align-center{
	text-align: center;
}
.align-left {
	text-align: left;
}
.align-right {
	text-align: right;
}
.align-justify{
  text-align: justify;
}

// Margins
.margin-top-30{ margin-top: 30px }
.margin-top-15{ margin-top: 15px }
.margin-bottom-30{ margin-bottom: 30px }
.margin-bottom-15{ margin-bottom: 15px }

// Toggling content
.hide {
  display: none;
}
.show {
  display: block;
}

// Visibility
.invisible {
  visibility: hidden;
}

// For Affix plugin
.affix {
  position: fixed;
}
