
/**
 * Tema desenvolvido exclusivamente ao Kadum.
 * Detalhes no arquivo docs.pdf no root do tema.
 * 
 * @author      Kadum.com.br
 * @copyright   Copyright (c) 2012, Kadum, http://www.kadum.com.br
 * @version     1.0
 * @link        http://www.kadum.com.br/
 * -------------------------------------------------------------------------
 * 
 * Este arquivo é responsável pelo estilo dos campos personalizados do Kadum.
**/

/**
 * Algumas reescritas do CSS do Wordress para funcionar
 * corretamente nos campos personalizados do Kadum.
 * Optou-se por adicionar aqui, pois estas regras personalizam
 * a página da criação de anúncios, evitando incompatibilidades.
 */
#kadum_campos_metabox .inside{margin:0 !important; padding:0;}
body.no-js #poststuff .handlediv{display:none}
body.no-js #poststuff h3.hndle{cursor:default;}
body.no-js #normal-sortables{display:none;}

.wrap{ margin-right: 0; }


#kadum_campos_metabox.kadum-nobox {}
#kadum_campos_metabox.kadum-nobox .handlediv{display: none}
#kadum_campos_metabox.kadum-nobox h3.hndle{display: none}
#kadum_campos_metabox.kadum-nobox .inside{margin:0 !important; padding:0;}

/**
 * Página de opções
**/

#kadum_metabox{ margin: 15px; }
.kadum-nobox #kadum_metabox{ margin:0 }
    #kadum_metabox input:focus, textarea:focus{ border: 1px solid #049cdb; box-shadow:0 0 5px #5ccfff  }
    #kadum_metabox input:invalid{ border: 1px solid Crimson; box-shadow:0 0 2px Crimson; }
    #kadum_metabox input[type=text],
    #kadum_metabox input[type=tel],
    #kadum_metabox textarea{
        font-size: 1.7em;
        line-height: 100%;
        outline: 0 none;
        padding: 3px 5px;
        width: 100%;
    }
    #kadum_metabox textarea{
        font-size: 1.2em;
        padding: 5px;
        border-color: #CCCCCC;
        line-height: 150%;
        height:      230px;
        min-width:   100%;
        max-width:   100%;
        min-height:  120px;
        max-height:  350px;
        resize: vertical;
    }
    #kadum_metabox input[type=file]{
        width:100%;
    }
    

/**
 * Blocos de campos = .kadum_meta
 * 
 * Cada input (título, endereço, telefone, etc) é formado por um bloco,
 * que segue uma marcação html semelhante.
**/
.kadum_meta{ float:left; margin:0 0 20px; padding: 30px 0; width:100%; }
    .kadum_meta .label-desc{
        float: left;
        width: 38%;
        margin-right: 2%;
    }
        .kadum_meta .label-desc h4{
            font-size: 13pt;
            font-weight: bold;
            margin: 5px 0;
        }
        .kadum_meta .label-desc span{

            margin: 0;
        }
    
    .kadum_meta .label{
        float: left;
        width: 60%;
    }
        .kadum_meta .label input{

        }
        .kadum_meta .label span{
            margin: 3px 3px;
            font-style: italic;
            display: block;
            color:#999;
        }

        .kadum_meta .label p{
            margin: 0 3px;
            display: block;
            color:#000;
        }
        .kadum_meta .label p span{ margin:0; font-style: normal; display: inline; }

    .kadum_meta .msgs{
        display: none;
        padding: 10px;
        border-radius: 4px;
        background: #77bc00;
        margin: 0 0 15px 0;
    }
    .kadum_meta .msgs p{ color: white; margin: 0; }
    .kadum_meta .msgs a{ margin-top: 10px; cursor: pointer; }
    .kadum_meta .msgs a.ok{ display: none;}


    .kadum_meta .msgs.confirm { background: #555555; }
    .kadum_meta .msgs.status.fracasso { background: Crimson; color: white; }        




/**
 * ADIÇÃO DE ESTILOS EXCLUSIVA PARA CADA BLOCO
**/



/**
 * MENSAGENS DE ERROS QUANDO O FORMULÁRIO É SUBMETIDO
**/
#msgs_erros{
    color: #b94a48;
    background-color: #f2dede;
    border-color: #eed3d7;
    font-size: 14px;
    padding: 20px 15px;
    border-radius: 4px;
    margin-bottom: 20px;
    display: none;
    position: relative;
}

#msgs_erros h4{ margin: 0 }

#msgs_erros ul{
    list-style-type: square;
    margin-left: 30px;
    margin-bottom: 0;
}

#msgs_erros a.fechar{
    position: absolute;
    top: 10px; right: 15px;
    line-height: 20px;
    color: #b94a48;
    text-decoration: none;
    cursor: pointer;
    opacity: 0.4;
    font-size: 13px;
}



/**
 * SELEÇÃO DOS PLANOS
**/
#kd_planos{ padding-top: 0; }

    #plano-escolhido{
        text-align: center;
        border: 1px solid #ccc;
        border-radius: 4px;
        margin: 0 0 20px 0;
    }

    .table-wrap { width: 100% }
    .table-wrap .coluna.width30{ float: left; width: 30%; }
    .table-wrap .coluna.width40{ float: left; width: 40%; }

    .table-wrap .plano{
        /*display: block;*/
        border: 1px solid #ccc;
        border-radius: 4px;
        background: url(../img/noise.png);
    }
    .table-wrap .plano.p1{
        border-radius: 4px 0 0 4px;
        border-right: 0;
        margin-top:20px;
    }
    .table-wrap .plano.p2{
        
    }
    .table-wrap .plano.p3{
        border-radius: 0 4px 4px 0;
        border-left: 0;
        margin-top:20px;
    }

    /* Título do plano */
    .table-wrap .plano h2{
        padding: 0 15px 10px !important;
        color: #049cdb;
        font-size: 24px !important;
        text-align: center;
        border-bottom: 1px solid #ccc;
    }

    /* Lista de vantagens*/
    .table-wrap .vantagens{
        padding: 0 10px;
    }
    
    .table-wrap .vantagens li{
        background: url(../img/star.png) no-repeat 0 3px;
        padding: 0 0 0 15px;
    }
    
    /* Preço do Plano */
    .table-wrap .plano-preco{
        padding: 10px 10px;
        background: url(../img/noise-inverse.png);
    }

    .table-wrap .plano-preco h4{
        margin:0;
        color: #fff;
        font-size: 13pt;
        letter-spacing: -0.06em;
        text-align: center;
        text-shadow: 1px 1px 0 #2a2a2a;
    }
    .table-wrap .plano-preco h4 small{ color: #f2f2f2 ; font-size: 11pt }

    /* Modificações para o plano 2 (em destaque) */
    .table-wrap .plano.p2 .plano-preco{ padding: 20px 10px }
    .table-wrap .plano.p2 .plano-preco h4{ font-size: 20pt }

    /* Botão de escolher plano */
    .table-wrap .status-escolha{ padding: 20px 0;}

    .table-wrap .status-escolha .botao-escolher{
        display: block;
        margin: 0 auto;
        width: 80px;
        height: 30px;
        padding: 0 0 2px;
        border-radius: 4px;
        text-align: center;
        line-height: 28px;
    }

    .table-wrap .status-escolha .msg-escolhido{
        display: block;
        margin: 0 auto;
        width: 180px;
        text-align: center;
        font-size: 12pt;
        color: #049cdb;
        
    }
    .table-wrap .msg-escolhido strong{
        background: url(../img/ok.png) no-repeat;
        width: 120px; padding: 0 0 0 25px;
        position:relative; top: 4px;
    }

    .table-wrap .botao-escolher.escolhido{
        background: url(../img/ok.png) no-repeat;
        width: 120px; padding: 3px 8px 3px 28px;
    }


/**
 * PAGSEGURO
**/
#kadum_pagamento{
    border: 1px solid #B8DA99;
    border-radius: 4px;
    margin: 20px 0;
    background: #e2f7e9;
    padding: 0;
}

br.separador{ margin: 10px 0 0 }

#kadum_pagamento .icone-pagamento{ float: left; margin: 10px 0 0 0; width: 120px; }

#kadum_pagamento .desc-pagamento{
    float: left;
    margin: 10px 0 0 0;
    width: 80%;
}

#kadum_pagamento h2{
    font-size: 15pt;
    margin: 20px 0 0 0;
    color: #3d9c1a;
}

#kadum_pagamento h2 small{
    background: #B8DA99;
    color: #389d13;
    padding: 5px;
    font-size: 9pt;
    border-radius: 3px;
    position: relative;
    top: -2px;
}

#kadum_pagamento h2 a#consultar-status{
    font-size: 9pt;
    color: #3d9c1a;
    position: relative;
    top: -1px; left: 5px;
    cursor: pointer;
}

#kadum_pagamento p{ margin: 0;  }
#kadum_pagamento ul{ display: inline-block; margin:0 0 20px 0; width: 418px;}

#kadum_pagamento .icones{}
#kadum_pagamento .icones li{
    float:left;
    margin: 2px;
    height:20px;
    width: 42px;
    background: url(../img/icones-pagamento.jpg);
}
    #kadum_pagamento .icones li.pagseguro       { background-position: 0 0 }
    #kadum_pagamento .icones li.visa            { background-position: -42px 0 }
    #kadum_pagamento .icones li.mastercard      { background-position: -84px 0 }
    #kadum_pagamento .icones li.diners          { background-position: -126px 0 }
    #kadum_pagamento .icones li.americanexpress { background-position: -168px 0 }
    #kadum_pagamento .icones li.hipercard       { background-position: -210px 0 }
    #kadum_pagamento .icones li.aura            { background-position: -252px 0 }
    #kadum_pagamento .icones li.elo             { background-position: -294px 0 }
    #kadum_pagamento .icones li.plenocard       { background-position: -336px 0 }
    #kadum_pagamento .icones li.personalcard    { background-position: -378px 0 }
    #kadum_pagamento .icones li.oipaggo         { background-position: -420px 0 }
    #kadum_pagamento .icones li.bradesco        { background-position: -462px 0 }
    #kadum_pagamento .icones li.itau            { background-position: -504px 0 }
    #kadum_pagamento .icones li.bb              { background-position: -546px 0 }
    #kadum_pagamento .icones li.banrisul        { background-position: -588px 0 }
    #kadum_pagamento .icones li.hsbc            { background-position: -630px 0 }
    #kadum_pagamento .icones li.boleto          { background-position: -672px 0 }
    #kadum_pagamento .icones li.pincode         { background-position: -714px 0 }


#kadum_pagamento .botao-pagamento{
    float: left;
    clear: left;
    margin: 0 0 20px 0;
}

/**
 * FOTOS
**/
#kadum_fotos{}

#kadum_fotos #fotos_galeria{ margin-bottom: 15px; }

#kadum_fotos .foto-miniatura{
    margin: 4px;
    position: relative;
    border: 2px solid #049cdb;
    display: inline-block;
    height: 120px;
    cursor: pointer;
}
#kadum_fotos .foto-miniatura img{
    width: 160px;
    height: 120px;
}
#kadum_fotos .foto-miniatura .remove-box{
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background: url(../img/tranparencia-branca.png);
    display: none;
}
#kadum_fotos .foto-miniatura .remove-box div{
    position: absolute;
    top: 0; right: 0;
    height: 20px; width: 20px;
    background: #049cdb;
    text-align: center;
    font-style: none;
    cursor: pointer;
    color: #fff;
}
#kadum_fotos .foto-miniatura:hover .remove-box{
    display: block;
}


#kadum_fotos #fotos_upload {}
#kadum_fotos #fotos_upload.oculto{ display: none }
#kadum_fotos #fotos_upload #botao_upload{ cursor: default; margin-top: 10px; display: none; }
#kadum_fotos #fotos_upload #botao_upload form{
    width: 100%;
    height: 100%;
}
#kadum_fotos #fotos_upload #botao_upload form input{
    width: 100%;
    height: 100%;
    border: 0;
    padding: 0;
    margin: 0;
    cursor: default;
}

/**
 * Kadum Mapa
**/
#mapa_status{
    font-size: 10pt;
    margin: 7px 0;
    display: block;
}

#info_mostrar_no_mapa {
    background: #d1edff;
    padding: 15px 20px;
    border: 1px solid #3490ca;
    border-radius: 5px;
    display: block;
    height: 60px;
}

#info_mostrar_no_mapa h4 {
    margin: 0;
    font-weight: 400;
    font-size: 12pt;
    color: #1971a8;
}
#info_mostrar_no_mapa p { margin-bottom: 0 }

#info_mostrar_no_mapa .esq{
    float: left;
    width: 62%;
}

#info_mostrar_no_mapa .dir{
    float: right;
}

#mostrar_mapa{
    float: right;
    margin: 7px 0;
}

#kadum_frame_mapa{ background: Crimson; margin: 20px 0; height:400px; width:100%; }

#kd_infoBox{ 
    position: absolute;
    height: 100%;
    width: 100%;
}
#kd_infoBox h2{
    margin: 0 0 5px 0;
    font-size: 12pt;
    color: #1971a8;
}

#kd_infoBox .buttons{
    position: absolute;
    bottom: 0;
    height: 34px;
}

#kd_infoBox a.button{
    margin: 10px 0 0 0;
}

#kd_infoBox p{
    position: absolute;
    bottom: 0;
    height: 25px;
    width: 100%;
    line-height: 90%;
    font-size: 12px;
    margin: 0;
}