
/**
 * Tema desenvolvido exclusivamente ao Kadum.
 * Detalhes no arquivo docs.pdf no root do tema.
 * 
 * @author      Kadum.com.br
 * @copyright   Copyright (c) 2012, Kadum, http://www.kadum.com.br
 * @version     1.0
 * @link        http://www.kadum.com.br/
 * -------------------------------------------------------------------------
 * 
 * Este arquivo aplica algumas regras para personalizar o frame que será
 * aberto ao fazer o upload de imagens na criação do anúncio.
 * 
 * Estas regras só se aplicam na URL <admin_url>/media-new.php?TB_iframe=1
**/

#wpwrap{
    position: absolute;
    padding: 0;
    left:0;
    height: 100%;
}

@media only screen and (max-width: 900px){
  
  .auto-fold #wpcontent,
  .auto-fold #wpfooter {
    margin-left: 20px;
  }

}

#wpcontent{ margin-left: 20px }
#wpbody-content{ padding-bottom: 0 }
.wrap{ margin-right: 20px; margin-top: 12px; }

#adminmenuback,
#adminmenuwrap { 
    display: none;
}