
/**
 * Tema desenvolvido exclusivamente ao Kadum.
 * Detalhes no arquivo docs.pdf no root do tema.
 * 
 * @author      Kadum.com.br
 * @copyright   Copyright (c) 2012, Kadum, http://www.kadum.com.br
 * @version     1.0
 * @link        http://www.kadum.com.br/
 * -------------------------------------------------------------------------
 * 
 * Esta folha de estilo personaliza vários pontos do painel do Wordpress.
 * Cada ponto está comentado e explicado para que se possa entender a estilização.
**/


/** Background geral do painel, idêntico ao do site.
-------------------------------------------------------------------------- */
html{
    /* GERAL  */ background: #ecedef no-repeat fixed center center;
    /* IE        background-image: url(../imagens/bg.svg);*/
    /* Chrome */ background-image: -webkit-radial-gradient(center, circle closest-side, #ccd3db 0%, #ecedef 100%); 
    /* FF     */ background-image:    -moz-radial-gradient(center, circle closest-side, #ccd3db 0%, #ecedef 100%);
    /* Opera  */ background-image:      -o-radial-gradient(center, circle closest-side, #ccd3db 0%, #ecedef 100%);
    /* Safari */ background-image:        -webkit-gradient(radial, center center, 0, center center, 140, color-stop(0, #ccd3db), color-stop(1, #ecedef));
    /* W3C    */ background-image:         radial-gradient(circle closest-side at center, #ccd3db 0%, #ecedef 100%);
}

/* Esta classe, por padrão, adiciona um padding de 28px ao <html>
 * por causa da barra superior fixa, como não estamos utilizando ela,
 * o padding-top precisa ser zerado.
**/
html.wp-toolbar{ padding-top: 0 }



/** O BODY define a largura do painel, pois ele segue um layout fluído de tela cheia.
 *  No caso, estão sendo definidas larguras de acordo com os tamanhos responsives do Bootstrap.
-------------------------------------------------------------------------------------------------- */

/* Regras para o body independentemente da largura da tela. */
body{
    margin: 0 auto;
    font-family: Tahoma, Arial, sans-serif;
    height: auto;
    padding-bottom: 40px;
}

    /* Para desktops com alta largura, ou superiores */
    @media (min-width: 1200px){ body{ width: 1170px } }

    /* De tablet para desktop */
    @media (min-width: 768px) and (max-width: 1200px){ body{ width: 940px } }

    /* Menor que tablet */
    @media (max-width: 768px){ body{ min-width: 200px; width: auto } }


/** Altera a família de fontes nos elementos necessários
------------------------------------------------------------------ */
.wrap h2,
.subtitle,
h2 .nav-tab,
.wrap .add-new-h2,
.login form .input,
#screen-options-link-wrap,
#contextual-help-link-wrap
{
    font-family: Tahoma, Arial, sans-serif
}

/**
 * A partir daqui são estilizados os elementos próprios do Wordpress,
 * utilizando-se de seus ID's e classes.
 */

/** Essa DIV engloba o conteúdo do painel do Wordpress
---------------------------------------------------------- */
#wpwrap{
    padding: 30px 20px 0;
    position: relative;
    left: -20px;
    background: #fff;
    min-height: auto;
    display: block;
}


/** Oculta a barra superior, com links rápidos e informações do usuário logado.
------------------------------------------------------------------------------------- */
#wpadminbar{
    display: none;
    /* position: absolute;   <<--- Caso exiba a barra, ela ficará fixa no topo.
       Para deixá-la estática no conteúdo, abaixo da barra amarela, defina position como absolute.
       Lembre-se também de somar 28px de padding-top ao conteúdo do painel (#wpwrap), para descontar a barra. */
}



/** As regras a seguir são referentes ao botão de 'Opções de Tela'/Ajuda
------------------------------------------------------------------------------------- */    
    
    /* Oculta o botão de ajuda, deixando apenas o de Opções de Tela */
    #contextual-help-link-wrap{ display:none }

    /* Área a ser exibida (screen) após clicar no Opções de Tela  */
    #screen-meta{
        border-top: 1px solid #CCCCCC;
        border-radius: 3px 3px 0 3px;
        margin-right: 0;
    }

    /* DIV que engloba o botão de Opções de Tela */
    #screen-meta-links{ margin-right: 0 }

    /* Botão que alternará o screen a ser exibido */
    #screen-meta-links .screen-meta-toggle{ top: 0 }

    /* Botão no estado normal */
    #screen-meta-links .screen-meta-toggle{
        border-top: 1px solid #CCCCCC;
        border-radius: 3px;
    }

    /* Botão ativo */
    #screen-meta-links .screen-meta-toggle.screen-meta-active{
        top: -1px;
        border-radius: 0 0 3px 3px;
        z-index: 100;
        border-top-color: #F1F1F1;
    }





/** As regras a seguir, são referentes a barra lateral do Wordpress
------------------------------------------------------------------------------------- */
    
/** As regras a seguir, são referentes a barra lateral do Wordpress
------------------------------------------------------------------------------------- */
    
    /* ID's da barra lateral: #adminmenuwrap fica sobreposta a #adminmenuback */
    #adminmenuback, #adminmenuwrap{
        background-color: #ffffff;
    }

    /* Retira a sombra do menu */
    #adminmenushadow{ display:none }

    /* Retira o negrito dos nomes das páginas */
    #adminmenu a.menu-top{ font-weight: normal }

    /* Retira a borda superior do primeiro item da barra lateral */
    #adminmenu a.wp-first-item{ border-top-color: #ffffff; }
    
    #adminmenu li.wp-has-current-submenu a.wp-has-current-submenu { border-radius: 3px 0 0 3px; }

    #adminmenu li.wp-has-current-submenu a.wp-has-current-submenu,
    #adminmenu li.current a.menu-top,
    .folded #adminmenu li.wp-has-current-submenu,
    .folded #adminmenu li.current.menu-top,
    #adminmenu .wp-menu-arrow,
    #adminmenu .wp-has-current-submenu .wp-submenu .wp-submenu-head {
        background: #F7CB25;
        background-image: -webkit-gradient(linear,left bottom,left top,from(#F7CB25),to(#F7CB25));
        background-image: -webkit-linear-gradient(bottom,#F7CB25,#F7CB25);
        background-image: -moz-linear-gradient(bottom,#F7CB25,#F7CB25);
        background-image: -o-linear-gradient(bottom,#F7CB25,#F7CB25);
        background-image: linear-gradient(to top,#F7CB25,#F7CB25);
    }

    #adminmenu .wp-menu-arrow div {
        background: #F7CB25;
        background-image: -webkit-gradient(linear,right bottom,left top,from(#F7CB25),to(#F7CB25));
        background-image: -webkit-linear-gradient(bottom right,#F7CB25,#F7CB25);
        background-image: -moz-linear-gradient(bottom right,#F7CB25,#F7CB25);
        background-image: -o-linear-gradient(bottom right,#F7CB25,#F7CB25);
        background-image: linear-gradient(to top left,#F7CB25,#F7CB25);
    }

    #adminmenu li.wp-has-current-submenu a.wp-has-current-submenu,
    #adminmenu li.current a.menu-top,
    #adminmenu .wp-has-current-submenu .wp-submenu .wp-submenu-head {
        text-shadow: 0 -1px 3px #ffe687;
        color: #21759b;
        border-top-color: #F7CB25;
        border-bottom-color: #F7CB25;
    }

    #adminmenu .wp-submenu a{
        border: 1px solid #fff;
        border-width: 1px 0 1px 0;
    }

    #adminmenu .wp-has-current-submenu.wp-menu-open .wp-submenu a {
        border-radius: 4px 0 0 4px;
        border-width: 1px 0 1px 1px;
    }

    #adminmenu .wp-has-current-submenu.wp-menu-open .wp-submenu a:hover,
    #adminmenu .wp-has-current-submenu.wp-menu-open .wp-submenu a:focus {
        border-width: 1px 0 1px 1px;
    }

    #adminmenu li.wp-menu-separator {
        height: 2px;
        border: 0;
    }    
    #adminmenu div.separator {
        height: 2px;
        padding: 0;
        border: 0;
        background: #049cdb;
        border-radius: 1px 0 0 1px;
    }

    #adminmenu div.wp-menu-image {
        background: url(../img/menu.png);
    }

    #wpbody-content div.icon32 {
        background-image: url(../img/icons32.png);
    }

    #adminmenu #menu-posts-anuncios .menu-icon-anuncios div.wp-menu-image {
        background-position: -270px -33px;
    }
    
    #adminmenu #menu-posts-anuncios .menu-icon-anuncios div.wp-menu-image img { display: none }
    
    #adminmenu #menu-posts-anuncios:hover div.wp-menu-image,
    #adminmenu #menu-posts-anuncios.wp-has-current-submenu .menu-icon-anuncios.wp-has-current-submenu div.wp-menu-image {
        background-position: -270px -1px;
    }

    li#collapse-menu{ display: none; }
    #adminmenu a.menu-top.menu-top-last {
        /*border-bottom: none;*/
    }





/** As regras a seguir, são referentes ao rodapé do painel do Wordpress,
  * inclusive, aos elementos adicionados ao rodapé.
------------------------------------------------------------------------------------- */
    
    /* #wpfooter é o ID do rodapé do Wordpress */
    #wpfooter {
        position: static;
        width: 100%;
        margin: 0;
        margin-top: 30px;
        border-top: none;
        padding: 0;
    }
    .folded #wpfooter{ margin-left: 0 }

    #wpfooter #footer-upgrade {display: none}

    /* Esse é o ID do rodapé que foi adicionado */
    #kadum_painel_rodape {
        position: relative;
        left: -20px;
        float: left;
        padding: 40px 20px 0;
        width: 100%;
        background: #4a4744;
        border-top: 12px solid #615f5d;
    }

    #kadum_painel_rodape .rodape-bottom{
        background: #3b3836;
        position: relative;
        padding: 15px 20px;
        margin: 40px 0 0 0;
        float: left;
        width: 100%;
        left: -20px;
        font-size: 14px;
    }    
    #kadum_painel_rodape .rodape-bottom a{ color: #777777}
    #kadum_painel_rodape .rodape-bottom a:hover { color: white }






/**
 * A partir daqui temos elementos adicionados ao Wordpress,
 * como o cabeçalho, barra de navegação, o rodapé foi estilizado
 * junto com o do Wordpress, mais acima.
 */



/** Regras para o cabeçalho personalizado do painel
---------------------------------------------------------- */
#kadum_painel_cabecalho{
    left: -20px;
    padding: 50px 20px 20px;
    position: relative;
    width: 100%;
    height: 50px;
}

#kadum_painel_cabecalho #logo-painel{}

#logo-painel .logo{
    background-image: url('../../../img/logo.png');
    background-size: 100% 100%;
    float: left;
    width: 120px;
    height: 40px;
}

#logo-painel h2{
    float: left;
    margin: 13px 0 0 10px;
    color: #049cdb;
}
#logo-painel h2 a{ text-decoration: none }

#kadum_painel_cabecalho #card-usuario{
    float: right;
}

#kadum_painel_cabecalho #card-usuario{}
    
    #card-usuario .foto{ float: left; margin-right: 5px }
    #card-usuario nav{ float: right; margin: 4px 0 0 0 }
    #card-usuario nav a{
        margin-bottom: 1px;
        font-size: 12px;
        text-decoration: none;
    }
    #card-usuario nav a.display_name{
        display: block;
        font-size: 16px;
    }



/** Regras para para a barra de navegação personalizada do painel
--------------------------------------------------------------------------- */
#kadum_painel_toolbar{
    height: 5px;
    width: 100%;
    line-height: 50px;
    left: -20px;
    padding: 0 20px;
    position: relative;
    background-color: #F7CB25;
    background-image: linear-gradient(to bottom, #FED53D, #EDBB01);
    background-repeat: repeat-x;
    border-bottom: 1px solid #B08B01;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.067);    
}